.btn {
  font-size: 1rem;
  line-height: 2;

  display: inline-block;
  letter-spacing: 0.29em;
  text-decoration: none;
  color: $color-bg;
  background-color: #fff;
  border-radius: 3.4rem;
  transition: background-color 0.2s ease;
  margin-top: 2rem;
  line-height: 2;
  font-weight: bold;

  padding: 1rem 3rem;

  @media (min-width: 768px) {
    font-size: $font-size;
    padding: 1.5rem 7.5rem;
    margin-top: 4.5rem;
  }

  &:hover {
    background-color: $color-primary;
    color: #fff;
  }
}
