.domino {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    animation: fadeUp 1s ease forwards;
    animation-delay: 500ms;
    opacity: 0;
  }

  p {
    animation: fadeUp 1s ease forwards;
    animation-delay: 700ms;
    opacity: 0;
  }

  a {
    animation: fadeUp 1s ease forwards;
    animation-delay: 900ms;
    opacity: 0;
  }

  &__box {
    max-width: 435px;
  }
}
